.footer {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--spacing-xl) var(--spacing-md);
  background: var(--quaternary-color-transparent);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.social {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.socialList {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-sm);
  list-style: none;
}

.socialList li a {
  font-size: var(--font-size-xl);
}

.socialList li a:hover {
  color: var(--text-light);
}

.logo {
  width: 200px;
}

.logo > p {
  font-size: var(--font-size-sm);
  color: var(--text-light);
  text-align: center;
}

.copyright {
  font-size: var(--font-size-sm);
  color: var(--text-light-2);
  text-align: center;
  padding: var(--spacing-sm);
  background: var(--primary-color-transparent);
}

.copyright span,
.copyright a {
  text-decoration: none;
  font-size: var(--font-size-xs);
}

.copyright span {
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: var(--spacing-md);
  }

  .links {
    align-self: flex-start;
  }
}
