.container {
  min-height: 100vh;
}

.logo {
  width: 300px;
  max-width: 100%;
  margin-top: var(--spacing-md);
}

.text {
  width: 800px;
  max-width: 100%;
}

.textContent h1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-heading);
  font-family: var(--font-secondary);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: var(--spacing-sm);
}

.text p {
  color: var(--text-light-2);
  text-align: center;
  line-height: var(--line-height-base);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: var(--spacing-sm);
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    padding-top: var(--spacing-lg);
  }

  .logo {
    width: 250px;
  }

  .text h1 {
    font-size: var(--font-size-lg-2);
    width: 100%;
  }

  .buttons {
    flex-direction: column;
  }
}
