.container {
  width: var(--container-max-width);
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-sm);
  padding-bottom: var(--spacing-lg);
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--spacing-sm);
}

.card {
  background: var(--tertiary-color-transparent);
  border: 1px solid var(--border-color-2);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.cardTitle {
  color: var(--text-light-2);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.cardInfo {
  color: var(--text-light-3);
  font-size: var(--font-size-sm);
}

.cardButton {
  background-color: var(--tertiary-color);
  color: var(--text-light);
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-sm);
  border: none;
  cursor: pointer;
  font-size: var(--font-size-sm);
}

.cardButton:hover {
  opacity: 0.95;
}

.loading {
  color: var(--text-light-3);
  font-size: var(--font-size-lg);
  text-align: center;
}

.error {
  color: var(--error-color);
  font-size: var(--font-size-sm);
  text-align: center;
}

.empty {
  color: var(--text-light-3);
  font-size: var(--font-size-sm);
  text-align: center;
}

.buttons {
  display: flex;
  gap: var(--spacing-sm);
  align-self: flex-end;
}

.toggleButton,
.tableButton {
  background: var(--secondary-color);
  color: var(--text-light);
  border: none;
  padding: var(--button-padding);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-size: var(--font-size-xs);
  transition: background 0.2s;
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.toggleButton:hover {
  opacity: 0.95;
}

[data-button-export="true"] {
  background-color: var(--secondary-color);
}

.tableButton {
  background-color: var(--primary-color);
}

.boxSearch {
  margin: var(--spacing-md) 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xs);
}

.boxSearch h3 {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  color: var(--text-light-3);
}

.search {
  max-width: 100%;
  display: flex;
}

.search input {
  width: 400px;
  max-width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-sm);
}

.tableHeader {
  background: var(--primary-color);
  padding: var(--spacing-sm);
  text-align: left;
  font-weight: bold;
  color: var(--text-light);
  border-bottom: 2px solid var(--border-color-2);
}

.tableRow:nth-child(even) {
  background: var(--secondary-color);
}

.tableRow:hover {
  background: var(--quaternary-color-transparent);
}

.tableCell {
  padding: var(--spacing-xs);
  border-bottom: 1px solid var(--border-color-2);
}

.tableCell button {
  margin: 0 auto;
  display: block;
  font-size: var(--font-size-xs);
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--spacing-md);
  gap: var(--spacing-sm);
}

.itemsPerPage {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.itemsPerPage label {
  color: var(--text-dark);
  font-size: var(--font-size-sm);
}

.itemsPerPage select {
  background-color: var(--quaternary-color-transparent);
  color: var(--text-light-2);
  padding: var(--spacing-xs);
  border: 1px solid var(--border-color-2);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-sm);
}

.itemsPerPage select:focus {
  outline: none;
  border-color: var(--primary-color);
}

.pageControls {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.pageButton {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: background-color var(--transition-normal);
}

.pageButton:hover {
  background-color: #7e0000;
}

.pageButton:disabled {
  background: var(--text-light-3);
  cursor: not-allowed;
}

.pageInfo {
  color: var(--text-dark);
  font-size: var(--font-size-sm);
}

@media (max-width: 500px) {
  .table {
    font-size: 0.7rem;
  }

  [data-table-role="true"] {
    display: none;
  }

  .boxSearch {
    flex-direction: column;
    align-items: flex-start;
  }

  .pagination {
    flex-direction: column;
    gap: var(--spacing-sm);
  }
}
