@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Cores Principais */
  --primary-color: #b71515; /* Cor principal, ex.: azul para botões e destaques */
  --secondary-color: #212529; /* Cor secundária, ex.: cinza para textos secundários */
  --primary-color-transparent: linear-gradient(to right, #2001227c);
  --secondary-color-transparent: linear-gradient(
    to right,
    #6f0000c0,
    #200122b9
  );
  --tertiary-color-transparent: linear-gradient(to right, #200122b9, #6f0000c0);
  --quaternary-color-transparent: #212529e1;
  --background-color-light: #f8f9fa;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --border-color: #a55259;
  --border-color-2: #c0c0c050;
  --text-light: #fff5f0; /* Cor para textos em fundos escuros */
  --text-light-2: #e0b7b7; /* Cor para textos em fundos escuros */
  --text-dark: #212529;

  /* Tipografia */
  --font-primary: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif; /* Fonte principal */
  --font-secondary: "Montserrat", sans-serif; /* Fonte secundária para títulos ou destaques */
  --font-size-base: 16px; /* Tamanho base da fonte */
  --font-size-xxs: 0.675rem; /* 11px - para textos menores */
  --font-size-sm: 0.875rem; /* 14px - para textos menores */
  --font-size-lg: 1.25rem; /* 20px - para subtítulos */
  --font-size-lg-2: 1.7rem; /* 24px - para subtítulos */
  --font-size-xl: 2rem; /* 32px - para títulos grandes */
  --font-size-xxl: 3rem; /* 48px - para títulos grandes */
  --font-weight-regular: 400; /* Peso regular */
  --font-weight-bold: 700; /* Peso negrito */
  --font-weight-bolder: 900; /* Peso negrito */
  --line-height-base: 1.5; /* Altura da linha padrão */
  --line-height-heading: 1.2; /* Altura da linha para cabeçalhos */

  /* Espaçamentos */
  --spacing-xs: 0.5rem; /* 8px - espaçamento pequeno */
  --spacing-sm: 1rem; /* 16px - espaçamento padrão */
  --spacing-md: 1.5rem; /* 24px - espaçamento médio */
  --spacing-lg: 2rem; /* 32px - espaçamento grande */
  --spacing-xl: 3rem; /* 48px - espaçamento extra grande */

  /* Bordas e Sombras */
  --border-radius-sm: 0.25rem; /* 4px - borda arredondada pequena */
  --border-radius-md: 0.5rem; /* 8px - borda arredondada média */
  --border-radius-lg: 1rem; /* 16px - borda arredondada grande */
  --border-radius-xl: 1.5rem; /* 24px - borda arredondada extra grande */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra padrão */
  --box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra para hover */

  /* Tamanhos de Componentes */
  --button-padding: 0.75rem 1.5rem; /* Padding padrão para botões */
  --input-height: 2.5rem; /* Altura padrão para inputs */
  --container-max-width: 1200px; /* Largura máxima do container */
  --container-max-width-percentege: 92%;

  /* Transições */
  --transition-fast: 0.2s ease-in-out; /* Transição rápida */
  --transition-normal: 0.3s ease-in-out; /* Transição padrão */
}

body {
  font-family: var(--font-primary);
  color: var(--text-light);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

butotn {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-light-2);
  transition: var(--transition-fast);
}

a:hover {
  color: var(--text-light);
}

[data-container="flex-between"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
}

[data-container="flex-col"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
}

[data-background="transparent-primary"] {
  background: var(--primary-color-transparent);
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--border-color);
  padding: var(--spacing-lg) var(--spacing-md);
}

[data-background="transparent-secondary"] {
  background: var(--secondary-color-transparent);
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--border-color);
  padding: var(--spacing-lg) var(--spacing-md);
}

[data-background="transparent-tertiary"] {
  background: var(--tertiary-color-transparent);
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--border-color);
  padding: var(--spacing-lg) var(--spacing-md);
}

/* background animation and image */
.area {
  background-image: linear-gradient(135deg, rgba(223, 27, 27, 0.3), #9b0b0b96),
    url("https://img.freepik.com/free-vector/gradient-purple-color-background-modern-wave-abstract-designs_343694-2361.jpg?ga=GA1.1.2095538369.1681160396&semt=ais_hybrid&w=740");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #b715153f;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
